<ion-header no-border>
  <ion-toolbar>
    <!--<button ion-button clear small start navPop>-->
      <!--<ion-icon name="arrow-back"></ion-icon>-->
    <!--</button>-->
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center><img id="logo" src="/assets/images/Hober_Logo.png"/></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <div class="login-form">
  <div class="login-info">
  <ion-list>


        <ion-item small class="field form-group register_email">
          <ion-label>
            <img src="/assets/images/auth/Email.png"/>
          </ion-label>
          <ion-input type="text"
                     value=""
                     [(ngModel)]="email"
                     placeholder="Email"
                     name="user[email]"
                     id="user_email"></ion-input>
        </ion-item>

        <ion-item small class="field form-group login_password">
          <ion-label><img src="/assets/images/auth/password.png"/></ion-label>
          <ion-input type="password"
                     value=""
                     [(ngModel)]="password"
                     placeholder="Password"
                     name="user[password]"
                     id="user_password"></ion-input>
        </ion-item>
  </ion-list>

  <div class="errors" *ngIf="!!errors">
    {{errors}}
  </div>
  <div class="field links">
    <a class="sign_up_link" href="/users/sign_up">Sign up</a>
    <a class="restore_password_link" href="/users/password/new">Forgot your password?</a>
  </div>
  <button ion-button small no-margin (click)="login($event)">LOGIN</button>


  </div>
  </div>


</ion-content>
