page-login {
  ion-list {
    margin: 0!important;
  }
  ion-item {
    padding: 0!important;
    margin-bottom: 5px!important;
    border-radius: 5px!important;
    border: none!important;
    min-height: 30px!important;
    height: 30px!important;
    font-size: 1.1rem!important;
    ion-label {
      height: 20px!important;
      margin: 0!important;
      position: relative!important;
      //top: 2px;
      border-right: 1px solid #DADADA;
      img {
        position: relative;
        bottom: 2px;
        height: 25px;
      }
    }
    .item-inner {
      padding: 0!important;
      border: none!important;
    }
    input {
      margin: 0px;
      line-height: 30px;
    }
  }

  .register_email {
    border-bottom: 1px solid #d3b9e7;
  }
  ion-content {
    background: no-repeat;
    background-image: url("/assets/images/auth/background.png");
    background-position: center;
    background-size: contain;
    min-height: 100vh;
    //padding-top: 105px;
    //margin-top: -105px;
  }

  .registration-form, .login-form, .visitors-form{
    overflow: hidden!important;
    border: 1px solid white;
    border-radius: 10px;
    margin: 20px;
    position: relative;
    top: 180px;
    background-color: rgba(211, 211, 211, 0.3);
    @media (max-width:414px){
      top: 40px;
      margin: 10px;
    }
    .registration-info, .login-info {
      padding: 35px;
      @media (max-width:414px){
        padding: 20px;
      }
    }
    .form-group {
      //height: 45px;
    }
    input {
      box-shadow: inset 0 0 0 transparent;
      margin-left: 5px!important;
      border-radius: 0;
      border: none;
      background: transparent;
      &:focus {
        box-shadow: inset 0 0 0 transparent;
      }
    }
    .registration-info, .login-info {
      .register_full_name {
        .item-inner {
          border-bottom: 1px solid #cdafe5!important;
        }
      }
      .register_email {
        .item-inner {
          border-bottom: 1px solid #d3b9e7!important;
        }
      }
      .register_password {
        .item-inner {
          border-bottom: 1px solid #5dbbbc!important;
        }
      }
      .register_mobile {
        .item-inner {
          border-bottom: 2px solid #f4c29c!important;
        }
      }
      .register_dob {
        .item-inner {
          border-bottom: 2px solid #d487c0!important;
        }
      }
      .register_id_number {
        .item-inner {
          border-bottom: 1px solid #34aaab!important;
        }
      }
      .login_password {
        .item-inner {
          border-bottom: 1px solid #34aaab!important;
        }
      }
      button {
        background-color: #f2b485;
        color: white;
        width: 100%;
        //padding: 9px 0;
        font-size: 1.1rem!important;
      }

      .links {
        .sign_up_link {
          color: #73b6b6;
        }
        .restore_password_link {
          float: right;
          color: #ad2988;
        }
        a {
          text-decoration: none!important;
        }
        font-size: 0.8rem!important;
        margin-bottom: 10px;
      }

      .errors {
        margin-bottom: 10px;
        color: red;
        font-size: 0.8rem!important;
      }
    }
  }

}
