<ion-header no-border>
  <ion-toolbar>
    <!--<button ion-button clear small start navPop>-->
    <!--<ion-icon name="arrow-back"></ion-icon>-->
    <!--</button>-->
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center><img id="logo" src="/assets/images/Hober_Logo.png"/></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div>
    <ion-segment [(ngModel)]="booking_type" (click)="bookingType($event)">
      <ion-segment-button value="siesta">
        Siesta
      </ion-segment-button>
      <ion-segment-button value="half_day">
        Half-Day
      </ion-segment-button>
      <ion-segment-button value="days">
        Days Booking
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="booking_type">
    <div *ngSwitchCase="'siesta'">
      <select id="in_time">
        <option *ngFor="let option of options" value="{{option}}">{{getOptionValue(option)}}</option>
      </select>
      <select id="out_time">
        <option *ngFor="let option of options" value="{{option}}">{{getOptionValue(option)}}</option>
      </select>
      <select id="siestaDays">
        <option *ngFor="let day of siestaDays" value="{{day}}">{{day}}</option>
      </select>
    </div>
    <div *ngSwitchCase="'half_day'">2</div>
    <div *ngSwitchCase="'days'">

      <template #template let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
      </template>
      <ion-toolbar>
        <div
          tappable
          (click)="bookingDays.active('in_time')"
          class="days-calendar check_in"
          [ngClass]="{'active-focus': bookingDays.in_time.active}">
          <ion-input no-margin readonly [(ngModel)]="bookingDays.in_time.value"></ion-input>
        </div>
        <div tappable
             class="days-calendar check_out"
             (click)="bookingDays.active('out_time')"
             [ngClass]="{'active-focus': bookingDays.out_time.active}">
          <ion-input no-margin readonly [(ngModel)]="bookingDays.out_time.value"></ion-input>
        </div>
        <ion-title>{{viewTitle}}</ion-title>
      </ion-toolbar>

      <ion-toolbar>
          <calendar [eventSource]="eventSource"
                    [calendarMode]="calendar.mode"
                    [currentDate]="calendar.currentDate"
                    [markDisabled]="markDisabled"
                    (onCurrentDateChanged)="onCurrentDateChanged($event)"
                    (onEventSelected)="onEventSelected($event)"
                    (onTitleChanged)="onViewTitleChanged($event)"
                    (onRangeChanged)="onRangeChanged($event)"
                    [monthviewEventDetailTemplate]="template"
                    [autoSelect]="false"
                    step="30">
          </calendar>
      </ion-toolbar>
    </div>
  </div>
</ion-content>


