page-booking {
  .drum-wrapper {
    div.inner {
      height: 113px!important;
    }
    padding-left: 2px;
    padding-right: 2px;
    height: 114px;
    width: 48%;
    display: inline-block;
    background-color: #e4e4e4;
    position: relative;
    &:before{
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 7px;
      background: #fff;
      top: 0;
      left: 0;
      z-index: 300;
    }

    &#drum_siestaDays {
      width: 100%;
      background-color: #55baff;
      height: 95px;
      &:before{
        height: 25px;
      }
      div.inner {
        height: 95px!important;
      }
    }

    figure {
      //opacity: 0!important;
      text-align: center;
      font-size: 26px;
      //padding-top: 5px;
      //padding-bottom: 5px;
      &.activeElement {
        background-color: white;
        font-size: 30px;
        opacity: 1!important;
      }
      &.nextElement, &.prevElement {
        //opacity: 0.5!important;
        //line-height: 25px!important;
        //height: 25px!important;
      }
      //height: 60px;
      //line-height: 60px;
    }

  }

  div.days-calendar {
    display: inline-table;
    width: 48%;
    input {
      border: 1px solid #959595;
      color: #959595;

    }
    &.active-focus {
      input {
        border: 1px solid #1dc6c5;
        color: #1dc6c5;
      }
    }
  }

  table.monthview-datetable>tbody td {
    border: none!important;
    &.monthview-primary-with-event {
      background-color: #009900;
    }
  }


}
