<ion-header no-border>
  <ion-navbar>
    <!--<button ion-button clear small start>-->
    <!--<ion-icon name="arrow-back"></ion-icon>-->
    <!--</button>-->
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img id="logo" src="../assets/images/Hober_Logo.png"/></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon name="{{item.icon}}" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
</ion-content>
