<ion-header no-border>
  <ion-toolbar>
    <button ion-button clear small start navPop>
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img id="logo" src="../assets/images/Hober_Logo.png"/></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <h3 text-center *ngIf="selectedItem">
    {{selectedItem.title}}
    <ion-icon [name]="selectedItem.icon"></ion-icon>
  </h3>
  <h4 text-center *ngIf="selectedItem">
    You navigated here from <b>{{selectedItem.title}}</b>
  </h4>
</ion-content>
