<ion-header no-border>
  <ion-navbar>
    <!--<button ion-button clear small start>-->
      <!--<ion-icon name="arrow-back"></ion-icon>-->
    <!--</button>-->
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img id="logo" src="../assets/images/Hober_Logo.png"/></ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>

  <h3>Welcome to your first Ionic app!</h3>
  <a (click)="openPage()">Home</a>
  <p>
    This starter project is our way of helping you get a functional app running in record time.
  </p>
  <p>
    Follow along on the tutorial section of the Ionic docs!
  </p>
  <p>
    <button ion-button color="primary" menuToggle>Toggle Menu</button>
  </p>

</ion-content>
