<ion-header no-border>
  <ion-navbar>
    <!--<ion-toolbar>-->
      <!--<button ion-button clear small start *ngIf="selectedItem" (click)="goBack()">-->
        <!--<ion-icon name="arrow-back"></ion-icon>-->
      <!--</button>-->
      <button ion-button menuToggle end>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><img id="logo" src="../assets/images/Hober_Logo.png"/></ion-title>
    <!--</ion-toolbar>-->
  </ion-navbar>
</ion-header>
